{% extends "basic.html" %}
{% load static %}
{% block title %} About {% endblock title %}

{% block body %}
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 class="h2-color">About</h2>
      <p>Hi, I'm Akanbi Kehinde Muritala, a passionate media and software developer with a drive to create innovative solutions that transform lives. With years of experience in developing scalable, efficient, and reliable software applications. And crafting compelling brand stories that captivate audiences. 
        . Kenny oversees the overall strategy and direction of Mak Media Associates Nigeria, ensuring that every project meets the highest standards of quality and excellece.
      </p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="{% static 'assets/img/profile.png' %}" class="img-fluid" alt=""> <br>
          <h5 style="text-align: center;" span style="font-weight:bold">Akanbi Kehinde Muritala</span></h5>
          <p style="text-align: center;">Founder/CEO</p>

        </div> 
        <div class="col-lg-8 content">
          <h3>Media &amp; Tech Professional</h3>
          <p class="fst-italic py-3">
            Blending creativity and technology to craft impactful digital experiences through smart design, compelling content, and innovative tech-driven solutions 
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Job:</strong> <span>Media & Software Developer</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lagos, Nigeria</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Value:</strong> <span>Seeking new ideas</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Archetype:</strong> <span>Straight Forward</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Training:</strong> <span>PLP Academy, Africa</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>kennyakanbi@gmail.com</span></li>
              
              </ul>
            </div>
          </div>
          <p class="py-3">
            <h4>Key Strengths</h4>
              <li>Strategic media planning and execution
              <li>Actionable technology integration
              <li>Cross-channel campaign management
              <li>Data-driven ROI analysis and optimization
            </ul> 
            <p class="fst-italic py-3">
              Partner with us to unlock the full potential of your marketing efforts and achieve tangible business outcomes.
            </p>
          </p>
        </div>
      </div>
    </div>
  </section><!-- /About Section -->
{% endblock body %}