{% extends "basic.html" %}
{% load static %}
{% block title %} Sign-Up {% endblock title %}

{% block stylecss %}
<link 
rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock stylecss %}

{% block body %}

<div class="containe mt-4 p-2">
    <div class="row">
        <div class="col-md-4"></div>

          <div class="col-md-4">
            <br>
            <br>
            <br>
            <br>
            <h3 class='text-white bg-dark text-center p-3'> Sign Up Here </h3>
            {% for message in messages %}

            <div class="alert alert-{{message.tags}}alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        
            <div class="card p-2">
                <form action="/auth/signup/" method="post">{% csrf_token %}
                    <div class="form-group">
                        <h5>
                            <span><i class="bi bi-envelope navicon"></i> Email </label></span>
                        </h5>
                        <input type="text" class="form-control mb-3" name="email" required/>
                    </div>
                    <div class="form-group">
                        <h5><span><i class="fas fa-key"></i> Password </label></span></h5>
                        <input type="password" class="form-control mb-3" name="pass1" required/>
                    </div>
                    <div class="form-group">
                        <h5><span><i class="fas fa-lock"></i> Confirm Password </label></span></h5>
                        <input type="password" class="form-control mb-3" name="pass2" required/>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="Submit">SignUp</button>

                    </div>
                </form>
                <br>
                Already User ? <a href="/auth/login/">Login</a>
            </div>
            </div>
         


            <div class="col-md-4"></div>

            {% endblock body %}